<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mantenimiento/css/reporte_costos.css" media="screen"/>
    <title>Reporte de costos</title>
</head>
<body>
    <a href="{% url admin:index %}" title="Inicio">
        <img src="{{ STATIC_URL }}common/img/logo.png" title="ETECO S.A." alt="ETECO S.A." width="150px">
    </a>
    <h1>Reporte de Costos</h1>
    <table class="header">
        <tr>
            <th>
                Centro de costos:
            </th>
            <td>
                {{ maquina }}: {{ maquina.maquina }} {{ maquina.marca }}
            </td>
        </tr>
        <tr>
            <th>
                Fecha de inicio:
            </th>
            <td>
                {{ fecha_inicio|date:"d/m/o" }}
            </td>
        </tr>
        <tr>
            <th>
                Fecha de fin:
            </th>
            <td>
                {{ fecha_fin|date:"d/m/o" }}
            </td>
        </tr>
    </table>
    <table class="detail">
        <tr>
            <th rowspan="2">
                Fecha
            </th>
            <th colspan="2">
                Mantenimiento preventivo
            </th>
            <th colspan="2">
                Mantenimiento correctivo
            </th>
            <th rowspan="2">
                Total
            </th>
        </tr>
        <tr>
            <th>
                Costo
            </th>
            <th>
                Observaciones
            </th>
            <th>
                Costo
            </th>
            <th>
                Observaciones
            </th>
        </tr>
        {% for item in fechas %}
            <tr>
                <td>
                    {{ item.fecha|date:"d/m/o" }}
                </td>
                <td>
                    S/. {{ item.preventivo|floatformat:2 }}
                </td>
                <td class="obs">
                    {{ item.preventivo_obs }}
                </td>
                <td>
                    S/. {{ item.correctivo|floatformat:2 }}
                </td>
                <td class="obs">
                    {{ item.correctivo_obs }}
                </td>
                <td>
                    S/. {{ item.costo_total|floatformat:2 }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>
                S/. {{ sum_preventivo|floatformat:2 }}
            </td>
            <td></td>
            <td>
                S/. {{ sum_correctivo|floatformat:2 }}
            </td>
            <td></td>
            <td>
                S/. {{ sum_total|floatformat:2 }}
            </td>
        </tr>
    </table>
</body>
